@import "~materialize-css/dist/css/materialize.min.css";

body {
    background: url("./assets/rsback.gif") 50% 40% no-repeat #00000E;
    background-size: 900px;
}

img {
    margin-top: 7%;
    max-width: 30%;
    position: relative;
    left: 35%;
}

@media screen and (max-width: 720px){
    .marginTop {
        margin-top: 10px;
    }
}

